*{
margin: 0px;
padding: 0px;
}
body{
background-color: #1f7bfe;
font-family: Sans-Serif;
text-align: center;
}
header{
text-align: center;
color: white;
}
div{
padding: 5px;
}

section{
box-shadow: 10px 10px 5px #00000099;
background-color: white;
padding: 15px;/*configuracao de centralizar*/
width: 300px;/*largura*/
border-radius: 15px;
margin: auto;
}
.bttP {
background-color: black;
color: white;
border-radius: 20px;
box-shadow: 3px 2px 1px white;
}
img {
width: 150px;
padding: 15px;
margin: 5px;
border-radius: 100px;
}
nav {
text-decoration: none;
}
.calculadoraSimples{
padding: 20px;
margin: 20px;
border-top: 2px solid grey;
}
.btn-calculadora{
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 5px;
}
footer{
font-style: italic;
color: white;
text-align: center;
padding: 10px;
}