*{
margin: 0px;
padding: 0px;
}
body{
background-color: #1f7bfe;
font-family: Sans-Serif;
text-align: center;
}
header{
text-align: center;
color: white;
}
div{
padding: 5px;
}

section{
box-shadow: 10px 10px 5px #00000099;
background-color: white;
padding: 15px;/*configuracao de centralizar*/
width: 300px;/*largura*/
border-radius: 15px;
margin: auto;
}
img {
width: 150px;
padding: 15px;
margin: 5px;
border-radius: 100px;
}
nav {
text-decoration: none;
}

footer{
font-style: italic;
color: white;
text-align: center;
padding: 10px;
}
